<!doctype html>
<html lang="en">
<head>
<title>{% block title %}{% endblock %}</title>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

<!-- jQuery library -->
<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>

<!-- Latest compiled JavaScript -->
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

{% block more_head %}{% endblock %}
</head>
<body>
{% block content %}{% endblock %}

{% block tail %}{% endblock %}
